@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Hi+Melody&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: rgb(218, 218, 218);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Hi Melody", cursive;
  min-height: 100vh;
  margin: 0px;
}

.App {
  /* font-family: "Dongle", sans-serif;
  font-family: "Hi Melody", cursive; */
  height: 100vh;
  padding: 20px;
}

@media (min-width: 650px) {
  .App {
    width: 630px;
  }
}

@media (max-width: 650px) {
  .App {
    width: 90vw;
  }
}

#root {
  background-color: rgb(255, 237, 204);
  box-shadow: rgba(255, 237, 204, 0.3) 10px 10px 10px 3px;
}

/*  Button */
.Button {
  cursor: pointer;
  border: none;
  border-radius: 5px;

  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;

  font-size: 20px;

  white-space: nowrap;

  font-family: "Hi Melody", cursive;
}

.Button_gray {
  background-color: rgb(226, 226, 226);
  color: rgb(100, 100, 100);
}

.Button_red {
  background-color: rgb(255, 111, 111);
  color: rgb(100, 100, 100);
}

.Button_green {
  background-color: rgb(141, 231, 6);
  color: rgb(100, 100, 100);
}

/*  Header */

.Header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(0, 0, 0, 0.2);
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.Header > div {
  display: flex;
}

.header_text {
  font-size: 40px;
  width: 50%;
  justify-content: center;
}

.header_left {
  width: 25%;
  justify-content: start;
  margin-left: 10px;
}

.header_right {
  width: 25%;
  justify-content: end;
  margin-right: 10px;
}
