@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Hi+Melody&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: rgb(218, 218, 218);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Hi Melody", cursive;
  min-height: 100vh;
  margin: 0px;
}

.App {
  /* font-family: "Dongle", sans-serif;
  font-family: "Hi Melody", cursive; */
  height: 100vh;
  padding: 20px;
}

@media (min-width: 650px) {
  .App {
    width: 630px;
  }
}

@media (max-width: 650px) {
  .App {
    width: 90vw;
  }
}

#root {
  background-color: rgb(255, 237, 204);
  box-shadow: rgba(255, 237, 204, 0.3) 10px 10px 10px 3px;
}

/*  Button */
.Button {
  cursor: pointer;
  border: none;
  border-radius: 5px;

  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;

  font-size: 20px;

  white-space: nowrap;

  font-family: "Hi Melody", cursive;
}

.Button_gray {
  background-color: rgb(226, 226, 226);
  color: rgb(100, 100, 100);
  border: 2px solid rgb(0, 0, 0, 0.1);
}

.Button_red {
  background-color: rgb(255, 111, 111);
  color: rgb(100, 100, 100);
  border: 2px solid rgb(0, 0, 0, 0.1);
}

.Button_green {
  background-color: rgb(141, 231, 6);
  color: rgb(100, 100, 100);
  border: 2px solid rgb(0, 0, 0, 0.1);
}

/*  Header */

.Header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(0, 0, 0, 0.2);
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.Header > div {
  display: flex;
}

.header_text {
  font-size: 40px;
  width: 50%;
  justify-content: center;
}

.header_left {
  width: 25%;
  justify-content: start;
  margin-left: 10px;
}

.header_right {
  width: 25%;
  justify-content: end;
  margin-right: 10px;
}

/* 에디터 */
.dateInput {
  text-align: center;
  width: 150px;
  height: 30px;
  border-radius: 5px;
  border: 2px solid rgb(0, 0, 0, 0.1);
  font-size: 20px;
  font-family: "Hi Melody", cursive;
  background-color: rgb(228, 228, 228);
  margin-bottom: 40px;
  cursor: pointer;
}

.scoreInput {
  display: grid;
  grid-template-columns: repeat(5, auto);
  gap: 2%;
  margin-bottom: 40px;
}

.scoreSelect {
  cursor: pointer;
  border-radius: 10px;
  padding-top: 20px;
  padding-bottom: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: 20px;
}

.scoreSelect img {
  width: 60%;
  margin-bottom: 10px;
}

.imgScoreOff {
  background-color: rgb(228, 228, 228);
  border: 2px solid rgb(0, 0, 0, 0.1);
}

.imgScore1 {
  background-color: #64c964;
  color: rgb(255, 247, 247);
  border: 2px solid rgb(0, 0, 0, 0.1);
}
.imgScore2 {
  background-color: #9dd772;
  color: rgb(255, 247, 247);
  border: 2px solid rgb(0, 0, 0, 0.1);
}
.imgScore3 {
  background-color: #fdce17;
  color: rgb(255, 247, 247);
  border: 2px solid rgb(0, 0, 0, 0.1);
}
.imgScore4 {
  background-color: #fd8446;
  color: rgb(255, 247, 247);
  border: 2px solid rgb(0, 0, 0, 0.1);
}
.imgScore5 {
  background-color: #fd565f;
  color: rgb(255, 247, 247);
  border: 2px solid rgb(0, 0, 0, 0.1);
}

.contentInput {
  background-color: rgb(228, 228, 228);
  border: 2px solid rgb(0, 0, 0, 0.1);
  border-radius: 5px;
  width: 100%;
  min-height: 200px;
  padding: 10px;
  font-size: 20px;
  font-family: "Hi Melody", cursive;
  resize: vertical;
  margin-bottom: 40px;
}

.BtnInput {
  display: flex;
  justify-content: space-between;
}
